# Build output
/build/
/out/
/cmake-build-*/
*.obj
*.o
*.exe
*.dll
*.a
*.lib

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
_deps/
Testing/

# IDE
.vs/
.vscode/
.idea/
*.user

# OS
Thumbs.db
.DS_Store
